@import "vars"


body
    font-family: sans-serif

.container
    max-width: 1170px
    width: 96%
    margin: auto

.button
    background-color:$buttons
    color: $accent    
    border: none
    font-size: 13px
.header
    padding: 20px 0

    &-block 
        display: flex
        justify-content: space-between
        align-content: center
     
    &__info 
        text-align: right
        display: flex
    &__contacts
        justify-content: center
        display: flex
        flex-direction: column
        @media ( max-width:640px )
         display: none
            
    &__adress
        color: $accent
        font-size: 13px
        font-weight: 400
    &__phone
        font-size: 20px
        font-weight: 400
        color: $accent 
        text-decoration: none
        display: block
        margin-top: 5px
    &__button
        padding: 18px 47px
        border-radius: 10px
        margin-left: 30px

    
   

